<div class="col-md-2"></div>
<div class="col-md-8">
	<div class="panel panel-default">
	  <div class="panel-heading"><%=@classroom.course.name %></div>
	  	<div class="panel-body">
			<p class="status">Turma: <%= @classroom.id %></p>
			<p class="actions">
				<%= link_to 'Editar', edit_classroom_path(@classroom), class:'btn btn-primary pull-left' %>
				<%= link_to 'Excluir', classroom_path(@classroom), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger pull-right' %>
			</p>
			<% if !@students[0] == nil %>
				<% @students.each do |s| %>
					<%= s.name %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>