<%= form_for @student do |f| %>
	<% if @student.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@student.errors.count, "error") %> prevented this student from saving:</h2>
			<ul>
				<% @student.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<%= f.label :name, "Nome" %><br>
	<%= f.text_field :name, placeholder:"Digite o nome do aluno", required:"", class:"form-control" %>
	<br>
	
	<br>

	<%= f.label :register_number, "Número de registro" %><br>
	<%= f.text_field :register_number, placeholder:"Digite o número de registro do aluno", required:"", class:"form-control", id:"register_number" %><br>
	
	<br>

	<%= f.label :status, "Status" %><br>
	<%= f.text_field :status, placeholder:"Digite o status do aluno", required:"", class:"form-control", id:"status" %><br>

	<%= f.submit "Ok", class: "btn btn-success" %>
<% end %>
