<%= form_for @student do |f| %>
	<% if @student.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@student.errors.count, "error") %> prevented this student from saving:</h2>
			<ul>
				<% @student.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<%= f.label :name %><br>
	<%= f.text_field :name %><br>
	
	<br>
	
	<%= f.label :register_number %><br>
	<%= f.text_field :register_number %><br>
	
	<br>

	<%= f.label :status %><br>
	<%= f.number_field :status %><br>

	<%= f.submit %>
<% end %>