<div id="student_content">
	<h1 class="name"><%= @student.name %></h1>
	<p class="register_number">Número de registro: <%= @student.register_number %></p>

	<p class="status">Status: <%= @student.status %></p>

	<p class="actions">
		<%= link_to 'Edit', edit_student_path(@student) %>
		<%= link_to 'Delete', student_path(@student), method: :delete, data: { confirm: 'Are you sure?' } %>
		<br><br>
		Criado <%= time_ago_in_words(@student.created_at) %> atrás
	</p>
</div>